
<!DOCTYPE html>
{% load static %}
{% include 'nav.html' %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'Css/login.css' %}" />
        
        <title>Login page</title>
    </head>
    <body>
    
    <form method="POST" action="/" >
        {% csrf_token %}
    <div class="Loginsec">

        <span></span>
        <div  class="loginBigDiv">
            <h1 id="login">welcome, back !  </h1>
          
            <div class="logindiv">
                <input id="email" name="user" placeholder='UserName'/>
            </div>
            <div  class="logindiv">
                 <input id="passwrd" type="password" name="passwrd" placeholder='password'/>
            </div>
            <div class="loginOrSignup">
                 <input id="inputbuttn"  type='submit' value="Login"/>
            </div>
            <div class="error">
                <p id="errorPass"> {{resultMSG}}</p>
    
           </div>
         <div class="signup">
                <a class="createAcc" >don't have an account? </a>
                <a class="createAcc" href="/signup" id="signup" style="  text-decoration: underline;
                text-underline-offset:5px; ">sign up</a>
         </div>
    </div>
</form>
     
    <img id="login-img" src="{% static 'images/login.jpg' %}" />
   </div>
       <!-- <script src="../static/Js/login.js"></script> -->
</body>
</html>