*{
transition: .5s;
}
.container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.oneimg {
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.BtnImg{
    border: none;
    background: none;
    padding: 0;
    cursor: pointer; 
}
.oneimg:hover {
  scale: 1.5;
}
.firstImg {
  width: 550px;
  height: 550px;
}
.textcontainer {
  width: 170px;
  height: 270px;
}
#addtoDestinationButton{
  border: none;
  background: none;
  padding: 0;
  cursor: pointer; 
  
}
#addtoDestination{
  height: 40px;
  width: 40px;
  cursor: pointer;
}
#visited{
  transition: .5s;
  background-color: #638ad8;
  border-radius: 18px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* border-radius: 2%; */
}

#visited:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  scale: 1.1;
}
