<!DOCTYPE html>
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'Css/nav.css' %}">

</head>
<body>
    <div class="nav-container">

        <nav>

            <div class="nav-items">
                <span id="welcomeMessage"></span>

                <a href="/tours" >
                    <p>Tours</p>
                </a>
                <a href="/tours/destinations" >
                    <p>Destinations</p>

                </a>
                <a href="/tours/visited" >
                    <p>Visited</p>
                </a>
            </div>

                    <a href="/" class="logo">
                        <img src="{% static 'images/logo.png' %}" />
                    </a>
           <div class="nav-items">

                <a href="/">Home</a>
                </a>
                <a href="/" >
                    <p>About</p>
                </a>
                <a href="/">  <p>login</p> </a>
                </div>
                
                <a  href="/logout">  <button id="logout">logout</button> </a>
                    <img class="menuIcon" src="{% static 'images/thw.png' %}" / >
            </div>
            
        </nav>
    </div>
    <script src="{% static 'Js/nav.js' %}"></script>
    
</body>
</html>